body{

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background: #0C0D0D;
}

h1{
	font-family: arial;
}

.login_form{
	height: 60vh;
	width: 40vw;
	background: #20283E;
	border-radius: 10px;
	color:  white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input{
	width: 60%;
	height: 9%;
	background: #DADADA;
	font-size: 20px;
	margin-bottom: 20px;
	border: none;
	border-radius: 10px;
}

#submit{
	width: 100px;
}

.error{
	background: red;
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;

}