<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	
	
</head>
<body>
	<form class="login_form" method="POST" action="">
		<h1>Login panel</h1>
		<!-- <input type="text" name="login" placeholder="login">
		<input type="password" name="password" placeholder="password">
		<input type="submit" name="submit"value="log in">
		 -->
		 {{ form.hidden_tag() }}
		 {{ form.username }}
		 {{ form.password }}
		 {{ form.submit() }}
		{% if form.error %}
			<div class="error">
				<h3>{{ error }}</h3>
			</div>
		{% endif %}
	</form>

</body>
</html>