<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mainpage.css') }}"> -->
	<link rel="stylesheet" type="text/css" href="../static/mainpage.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.0-rc.3/jquery-ui.js"></script>
	<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
	<title>Settings</title>
</head>
<body>
	<header>
		<div>
			<p>TelloBeep</p>
			<a href="/dashboard"> 
				<button>dashboard</button>
			</a>
			<a href="/accepted"> 
				<button>accepted</button>
			</a>
			<a href="/rejected">
				<button>rejected</button>
			</a>    
			<a href="/settings">
				<button>settings</button>
			</a>   
			<a href="/logout"> 
				<button>logout</button>
			</a> 
		</div>
	</header>

	 <div id="settingsForm">
	 	<p>Access Token:</p>
		<textarea id="tokenInput"></textarea>
		</br>
		<button onclick="uploadToken()">Upload token</button>
		<p>Add swear:</p>
		<input id="filterInput" type="text" name="swearsList">
		</br>
		<button id="uploadFilterBtn">Upload filter</button>
	</div>
</body>
</html>